.about{
    text-decoration: none;
    display: flex;
    background-color: black;
    height: 700px;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.left{
    width: 45%;
}
.img-container{
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #4169e1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;

}
.bipul{
    height: 90%;
    object-fit: cover;
}
.right{
    width: 37%;
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
    padding-left: 10px;

}
.details{
    margin-top: 100px;
    margin-bottom: 50px;

}
.details-title{

    display: flex;
    font-size: 45px;
    justify-content: center;
    font-weight: 800;
}
.details-content{
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: 800;
    border: 1px solid #4169e1;
    border-radius: 50px;
    color: #fff;
    display: block;
    padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.right a{
    display: inline-block;
    background: #4169E1;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #4169E1;
    transition: all 0.3 ease;
    text-decoration: none;
}
.right a:hover{
    
    color: #4169E1;
    background: none;

}
@media screen and (max-width:1100px){
    .about {
        height: fit-content;
        flex-direction: column;
    }
    .left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .left img{
        margin-left: auto;
        margin-right: auto;
    }
    .right{
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .about {
        height: fit-content;
        flex-direction: column;
    }
    .left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-container{
        width: 700px;
        height: fit-content;
        border-radius: 30%;
    }
    .bipul{
    }
    
  }
  @media screen and (max-width: 800px){
      .left{
          width: 70%;
      }
      .bipul{
          padding-left: 40px;
          margin-left: 20px;
      }
      .right{
          padding-right: 10px;
      }
  }
